page-points {

  ion-item {
    padding-left: 0 !important;
    padding-right: 0 !important;

    .input-wrapper {
      margin-right: 16px !important;
      margin-left: 16px !important;
    }
  }

  .new-touchpoint {
    padding: 13px;
    border-bottom: 1px solid grey;

    input {
      width: 100% !important;
      border: none !important;
    }
  }

  .not-custom-point ion-reorder  {
    display: none !important;
  }

  .add-icon {
    font-size: 25px;
    color: color($colors, primary);
  }

  .icon-rtl {
    transform: rotate(180deg);
  }

  input
  {
    width: 100%;
    border: 1px solid #f5f5f5;
    padding: 4px;
  }

  .outsideicon
  {
    min-width:23px;
    height: 20px;
    float: left;
    margin-left: 10px;
  }

  .reordering {
    pointer-events: none;
  }


}
