<ion-header>
    <ion-navbar color="secondary">
        <ion-title>{{title}}</ion-title>
        <ion-buttons end>
            <button ion-button color="dark" (click)="finish()">{{"POINT.END" | translate}}</button>
        </ion-buttons>
        <load-bar></load-bar>
    </ion-navbar>
</ion-header>

<ion-content >
    <ion-row class="new-touchpoint">
        <ion-col col-11>
            <input type="text" placeholder="{{'POINT.ADD' | translate}}" [(ngModel)]="newTouchpoint">
        </ion-col>
        <ion-col col-1 no-padding text-center>
            <ion-icon name="md-send" (click)="addTouchpoint()" class="add-icon" [ngClass]="{'icon-rtl': language === 'he'}"></ion-icon>
        </ion-col>
    </ion-row>

    <ion-list [reorder]="isReordering" (ionItemReorder)="reorderItems($event)">
        <div ion-item no-lines *ngFor="let point of points let i=index" [ngStyle]="{'background-color': point.color}">
            <input *ngIf="point.isEditPoint" type="text" value="{{point.title}}" [(ngModel)]="point.title" >
            <div (click)="goToPoint(point)">
                <div item-label *ngIf="!point.isEditPoint">{{point.title}}</div>
                <!--<div item-end></div>-->
            </div>
            <div item-end>
                <div class="outsideicon">
                    <ion-icon name="md-create" color="success" *ngIf="point.user_id" (click)="editPoint(point)"></ion-icon>
                </div>
                <div class="outsideicon">
                    <ion-icon name="ios-trash-outline" color="success" *ngIf="point.user_id" (click)="deletePoint(point,i)"></ion-icon>
                </div>
                <div class="outsideicon">
                    <ion-icon name="checkmark" color="success" *ngIf="point.touchpoint"></ion-icon>
                </div>
                <div class="outsideicon">
                    <ion-icon name="md-copy" color="success" (click)="duplicatePoint(point, i)"></ion-icon>
                </div>
            </div>
        </div>
    </ion-list>
</ion-content>
