<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>{{"GENERAL.MENU" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!--<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">-->
        <!--{{p.title}}-->
      <!--</button>-->
      <button menuClose ion-item (click)="changeLanguage()">
        Change language
      </button>
      <button menuClose ion-item (click)="goToProfile()">
        {{"GENERAL.PROFILE" | translate}}
      </button>
      <button menuClose ion-item (click)="logout()">
        {{"GENERAL.LOGOUT" | translate}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>