// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.div90 {
  width: 90%;
  margin: 0 auto;
}

.row100 {
  width: 100%;
}

ion-header::after {
  background-image: none !important;
}

.weight500 {
  font-weight: 500;
}

.font18 {
  font-size: 18px;
}

.popover-content {
  width: 90% !important;
}

.custom-padding-left {
  padding-left: 10px;
}

.alert-title, .alert-radio-label {
  text-align: center;
}

.alert-radio-icon {
  right: 10px !important;
  //min-width: 0 !important;
}

body.keyboard-is-open .hide-on-keyboard-open {
  display: none !important;
}

body.keyboard-is-open .scroll-content {
  margin-bottom: 0 !important;
}
