load-bar {
  .progress-bar-empty {
    background-color: transparent;
    height: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .progress-bar-full {
    background-color: green;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
